.user-form {
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif !important;
  margin: 25px 2%;
  width: 90%;
  height: calc(100vh - 70px);
  border-radius: .28571429rem;
  border: 2px solid #1b7a1a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  overflow: hidden !important;
}

.form-control {
  border: 2px solid #1b7a1a;
  box-shadow: 0 1px 2px black, 0 2px 10px black;
}

.user-info {
  background-color: #272727 !important;
  width: 550px;
  /*height: auto;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.content-container {;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-btn {
  width: 350px;
  max-width: 600px;
  height: 50px;
  border-radius: 10px;
  background-color: #272727;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: 2px solid #1b7a1a;
  font-weight: 700;
  flex-shrink: 0;
  padding: 5px;
  text-align: center;
  color: #E5E4E2 !important;
  position: -ms-device-fixed;
}

.btn:hover {
  background-color: #1c1c1c;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  /*border: none;*/
  opacity: 1;
  cursor: pointer;
}

.btn:active {
  background-color: #272727;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-color: #1b7a1a;
  opacity: 1;
  cursor: pointer;
}

.cop-logo {

  height: auto;
  width: 100%;
  max-width: 300px;
}


@media (max-width: 768px) {
  .user-form {
    width: 90%;
  }

  .buttons-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10px;
  }

  .forgotPassword-btn,
  .SignUp-btn {
    height: 40px;
    width: 60%;
    margin-bottom: 10px;
  }

  .login-btn {
    height: 40px;
    width: 80%;

  }

  .user-info {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .cop-logo {
    height: auto;
    width: 100%;
    max-width: 600px;
  }
}
