.container {
  overflow-y: auto;
  color: #E5E4E2;
  min-height: 750px;
  max-height: 800px;
  max-width: 700px;
  margin: 50px auto;
  padding: 1rem;
  background: #272727;
  border-radius: 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #1b7a1a;
}

.search-container {
  overflow-y: auto;
  color: #E5E4E2;
  min-height: 120px !important;
  max-width: 600px;
  padding: 1rem;
  background: #272727;
  border-radius: 8px;
  border: 1px solid #1b7a1a;
}

.search-list {
  margin: 0px;
  overflow-y: auto;
  max-height: 130px !important;
  border-radius: 4px;
  background: #222;
  color: #ddd;
  overflow-y: auto;
  box-shadow: 0 1px 2px 0 #1b7a1a;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.search-item {
  padding: 5px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.search-item:hover {
  background: #272727;
}
button {
  display: block;
  width: 100%;
}

input {
  margin-bottom: 10px;
  width: 100%;
  padding: 3px;
  border-radius: 4px;
  background: #222;
  color: #ddd;
  box-shadow: 0 1px 2px 0 #1b7a1a;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

button {
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 4px;
  background: #222;
  color: #ddd;
  box-shadow: 0 1px 2px 0 #1b7a1a;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

input:focus {
  outline: none;
  border-color: #1b7a1a;
}

button {
  font-size: 10pt;
  min-width: 30px;
  border-radius: 15px;
  background-color: #272727;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #1b7a1a;
  font-weight: 700;
  padding: 5px;
  color: #E5E4E2 !important;

}

.header {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.medicines {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  overflow-y: auto;
}

.medicine-container {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  max-height: 220px !important;
  overflow-y: auto;
  box-shadow: 1px 1px 2px 1px #1b7a1a;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.medicines th, .medicines td {
  border: 1px solid #555;
  padding: 8px;
  text-align: left;
}

.medicines th {
  background: #444;
}

.total {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  /*border: 1px solid #1b7a1a;*/
  color: #E5E4E2;
  text-align: center;
  margin-top: 10px;
}

.btn {
  font-size: 10pt;
  margin-top: 10px;
  min-width: 100px;
  width: auto;
  border-radius: 15px;
  background-color: #272727;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #1b7a1a;
  font-weight: 700;
  padding: 5px;
  text-align: center;
  align-items: center;
  color: #E5E4E2 !important;
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between !important;
}

.buttons-container {
  float: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.table-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.alert {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 25%;
  width: 50%;
  padding: 20px;
  background-color: #f44336;
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
