<div class="container mt-5 p-5">

  <form>
    <div class="row mb-2">
      <input type="text" style="text-align: center" id="pharmacy" disabled value="{{pharmacyName}}">
      <input type="number" id="tc-id" placeholder="Identity Number" min="10000000000" max="99999999999"
             [defaultValue]="searchCustomerId"
             (change)="searchCustomerId = $event.target.value">
      <div class="buttons-container d-flex justify-content-center mb-3">
        <button (click)="handleCustomerSearchButton()" class="btn btn-dark">Search Customer</button>
      </div>
    </div>
    <div>
      <input type="text" id="fullname" disabled placeholder="{{customerPlaceholder}}"
             value="{{prescriptionDTO.customerFullName}}">
    </div>
    <div>
      <div>
        <input type="text" id="medicine" placeholder="Medicine" (change)="searchMedicineName = $event.target.value">
        <div class="search-container mb-3">
          <ul class="search-list" infiniteScroll
              [infiniteScrollDistance]="1"
              [infiniteScrollThrottle]="800"
              [scrollWindow]="false"
              (scrolled)="onScroll()">
            <li class="search-item" *ngFor="let medicine of medicines"
                (click)="handleMedicineClick(medicine)">{{ medicine.name }}
            </li>
          </ul>
        </div>
      </div>

      <div class="buttons-container d-flex justify-content-center mb-1">
        <button (click)="handleMedicineSearchButton()" class="btn btn-dark" type="submit">Search Medicine</button>
      </div>

    </div>
    <div class="medicine-container">
      <table class="medicines table justify-content-center align-items-center">
        <tr>
          <th class="text-center">Name</th>
          <th class="text-center">Price</th>
          <th class="text-center">Actions</th>
        </tr>

        <tr *ngFor="let medicine of cartMedicines">
          <td class="text-center">{{ medicine.name }}</td>
          <td class="text-center">{{ medicine.price }}</td>
          <td class="text-center">
            <button (click)="handleRemoveMedicineButton(medicine)" class="table-button">Delete</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="total">
      <h6>Total: {{ totalCost }} TL</h6>
    </div>
    <div class="d-flex justify-content-center">
      <button (click)="handleSubmitButton()" class="btn btn-dark">Save</button>
    </div>
  </form>
</div>
